rest_customerVouchers:
    path:     /customer/{origin}/{id}/vouchers
    defaults: { _controller: cmsspaBundle:Customers:vouchersById }
    methods:  GET
    requirements:
         origin:  new|old
         id:  \d+        

rest_ordersById:
    path:     /orders/{origin}/{id}
    defaults: { _controller: cmsspaBundle:Orders:detailsById }
    methods:  GET
    requirements:
         origin:  new|old
         id:  \d+
         
rest_evenById:
    path:     /orders/{origin}/{id}
    defaults: { _controller: cmsspaBundle:Orders:evenQuantityById }
    methods:  PUT
    requirements:
         origin:  new|old
         id:  \d+ 
  
rest_singleUpdate:
    path:     /products/{id}
    defaults: { _controller: cmsspaBundle:Products:singleUpdate }
    methods:  POST
    requirements:
         id:  \d+
         
rest_productsById:
    path:     /products/{id}
    defaults: { _controller: cmsspaBundle:Products:detailsById }
    methods:  GET
    requirements:
         id:  \d+

rest_productsByName:
    path:     /products
    defaults: { _controller: cmsspaBundle:Products:detailsByName }
    methods:  GET
    
rest_getCategories:
    path:     /categories
    defaults: { _controller: cmsspaBundle:Products:getCategories }
    methods:  GET
    
rest_getManufactorers:
    path:     /manufacturers
    defaults: { _controller: cmsspaBundle:Products:getManufacturers }
    methods:  GET
    
