<!DOCTYPE html>
 <html>
     <head>
         <title>Modele-ad9bis - informacja o przyznanym kuponie</title>
         <meta charset="UTF-8">
     </head>
     <body>
	    <h2>Witaj {{data.customer.firstname}} {{data.customer.lastname}}!</h2>
	    <div style="width: 70%;">
		  <p>
			Dziękujemy za złożenie zamówienia o nr <b>{{ data.reference }}</b>!<br><br>
		  </p> 
		  <p>
			Twoje zamówienie spełnia warunki promocji, w związku z czym otrzymujesz kupon rabatowy numer <b>{{ data.voucherNumber }}</b>.
		  </p>
		  <p>
			Pamiętaj, że 6. zamówienie na kwotę powyżej 50zł (bez kosztów wysyłki) nagradzane jest 15% zniżką.
		  </p>
		  <p>
			Dziękujemy za skorzystanie z naszych usług!
			Zapraszamy ponownie w przyszłości.
		  </p>
		  <br>
		  <br>
		  Pozdrawiam serdecznie,<br>
		  Albert Ducin
		  <br>
		  <br>
		  ----------------------<br>
		  P.H.U. Ad9bis<br>
		  ul. Świerkowa 22,<br>
		  20-834 - Lublin<br>
		  (48) 660413844<br>
		  ad9bis@gmail.com<br>
		  <img src="http://modele-ad9bis.pl/img/logo.jpg" />
      </body>
</html>