<!DOCTYPE html>
 <html>
     <head>
         <title>Product details!</title>
         <meta charset="UTF-8">
     </head>
     <body>
	  <h1>List of products containing phrase: {{name}}</h1>
	  {% for product in products %}
		<ul>
		      <li>Name: <b>{{product.name}}</b> -- ID: {{product.id_product}}</li>
		</ul>
	  {% endfor %}
     </body>
</html>